!!!
%html
  %head
    %title My Feed
  %body
    .content
      %ul
        - posts['data'].each do |post|
          %li
            %div
              .user
                %p
                  = status['from']['name']
                  @
                  = status['created_time']
            %div
              .message
                %p= status['message']
                  = post['from']['name']
                  @
                  = post['created_time']
              - case post['type']
                -when 'status'
                  %div
                    .message
                      %p= post['message']
                -when 'video'
                  %div
                    .video
                      %p
                        = post['name']
                        (
                        %a{"href" => post['source']}
                          = post['source']
                        )
      
