!!! XML
%rss{ :version => "2.0" }
  %channel
    %title Facebook Status Feed
    %link http://www.google.com
    %description My facebook status feed
    %language en-gb
    %pubDate= Time.now
    
    - posts['data'].select {|p| [ "status", "video" ].include?(p['type']) }.each do |status|
      %item
        %title
          &= status['from']['name']
          - case status['type']
            - when "status"
              &= status['message']
            - when "video"
              &= status['name']
        %description 
          - case status['type']
            - when "status"
              Visit facebook
            - when "video"
              %a{"href" => status['source']}&= status['source']
        %pubDate= Time.parse(status['created_time']).rfc822
        %guid{:isPermaLink => "false"}&= status['id']
        %author&= status['from']['name']
        %link&= status['actions'].select {|a| a['name'] == "Comment" }.first['link']
